*{
    font-family: Arial;
    color: red;
}
.logo {
    color: red;
width: 80%;
}

.cover {
width: 50%;
    padding-top: 100px;
    color: red;
}

.light-text {
color: red;
}

section, footer {
    padding-left: 200px;
}