<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kassa</title>
    <!-- URL för ikoner -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/simple-style.css}">
</head>
<body>
<a href="/">Gå till startsida</a>
<h1>Kassa</h1>
<h2>Översikt av kundkorg</h2>
<div>
    <h3>Produkter</h3>
    <ul>
        <!-- Loopa igenom varje produkt i kundvagnen -->
        <li th:each="product : ${cart.products}">
            <span th:text="${product.title}"></span> - <span th:text="${product.price}"></span> kr
        </li>
    </ul>
</div>
<div>
    <h2>Dina uppgifter</h2>
    <form id="checkoutForm" action="/checkout/order_confirmation" method="post" onsubmit="return validateForm()">

        <label for="firstName">Förnamn:</label>
        <input type="text" id="firstName" name="firstName" required><br>

        <label for="lastName">Efternamn:</label>
        <input type="text" id="lastName" name="lastName" required><br>

        <label for="address">Adress:</label>
        <input type="text" id="address" name="address" required><br>

        <label for="email">E-postadress:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="phone">Telefonnummer:</label>
        <input type="tel" id="phone" name="phone" required><br>

        <h3>Leverans</h3>
        <p>Leverans via brev 2-3 arbetsdagar - 75kr</p> <!-- Istället för en checkbox -->

        <h3>Betalningsalternativ</h3>
        <input type="radio" id="card" name="payment" value="Betala med kort - 0 kr" required>
        <label for="card">Betala med kort - 0 kr</label><br>
        <input type="radio" id="swish" name="payment" value="Swish - 0 kr" required>
        <label for="swish">Swish - 0 kr</label><br>
        <input type="radio" id="klarna" name="payment" value="Klarna - 19kr" required>
        <label for="klarna">Klarna - 19kr</label><br>

        <p id="paymentError" style="color: red; display: none;">Välj ett betalningsalternativ.</p>

        <p>Att betala:</p>
        <p>Totalpris inkl. leverans och betalning: <span id="totalPrice"></span> kr</p>

        <button type="submit" id="checkoutButton" disabled>Slutför köp</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var totalPriceElement = document.getElementById('totalPrice');
        var radioButtons = document.getElementsByName('payment');
        var products = document.querySelectorAll('li');
        var checkoutButton = document.getElementById('checkoutButton');
        var paymentError = document.getElementById('paymentError');

        // Beräkna totalpriset för produkterna i kundvagnen när sidan laddas
        var totalProductPrice = 0;
        products.forEach(function(product) {
            var priceText = product.querySelector('span:nth-child(2)').innerText; // Hämta texten för produktpriset
            var pricePerBook = parseFloat(priceText); // Konvertera texten till ett flyttal
            totalProductPrice += pricePerBook;
        });

        // Uppdatera det totala priset inklusive produktpriset när sidan laddas
        var totalPriceWithDeliveryAndPayment = totalProductPrice + 75; // Baspris för leverans
        totalPriceElement.innerText = totalPriceWithDeliveryAndPayment;

        // Lägg till eventlyssnare på varje radioknapp för att uppdatera totalpriset
        radioButtons.forEach(function(radioButton) {
            radioButton.addEventListener('change', function() {
                var totalPriceWithDeliveryAndPayment = totalProductPrice + 75; // Baspris för leverans
                radioButtons.forEach(function(radioButton) {
                    if (radioButton.checked) {
                        var paymentInfo = radioButton.value.split(" - "); // Dela upp strängen för att få betalningsinformationen
                        var paymentAmount = parseFloat(paymentInfo[1]); // Konvertera betalningsbeloppet till ett flyttal
                        totalPriceWithDeliveryAndPayment += paymentAmount; // Lägg till betalningsbeloppet till totalpriset
                        checkoutButton.disabled = false; // Aktivera knappen för att slutföra köp när ett alternativ är valt
                        paymentError.style.display = 'none'; // Dölj felmeddelandet om ett alternativ är valt
                    }
                });
                totalPriceElement.innerText = totalPriceWithDeliveryAndPayment; // Uppdatera totalpriset på sidan
            });
        });
    });

    // Funktion för att validera formuläret innan det skickas
    function validateForm() {
        var radioButtons = document.getElementsByName('payment');
        var selectedOption = false;
        radioButtons.forEach(function(radioButton) {
            if (radioButton.checked) {
                selectedOption = true;
            }
        });
        if (!selectedOption) {
            var paymentError = document.getElementById('paymentError');
            paymentError.style.display = 'block';
            return false; //stoppa köpknapp om betalsätt ej valt
        }
        return true; //man ska kunna klicka om man valt ett betalsätt
    }
</script>

</body>
</html>