<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Välkommen!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Välkommen till BokBubblan!</h1>
        <nav>
            <ul class="nav-list">
                <li><a href="/products">Våra Böcker</a></li>
                <li><a href="/login">Logga in</a></li>
                <li><a href="/register">Registrera</a></li>
                <li><a href="/terms">Villkor</a></li>
            </ul>
        </nav>
    </header>

    <section class="intro">
        <p>Välkommen till vår bokaffär! Här hittar du ett stort urval av böcker inom alla möjliga genrer. Utforska vårt sortiment och hitta din nästa läsupplevelse.</p>
    </section>

    <footer class="footer">
        <p>© 2024 BokBubblan. Alla rättigheter förbehållna.</p>
    </footer>
</div>
</body>
</html>
