<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Våra böcker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<h1>Våra Böcker</h1>
<div>
    <ul>
        <li th:each="product : ${products}">
            <h2 th:text="${product.title}">Book Title</h2>
            <p><strong>Author:</strong> <span th:text="${product.author}">Author Name</span></p>
            <p><strong>Year:</strong> <span th:text="${product.year}">Year</span></p>
            <p><strong>Description:</strong> <span th:text="${product.description}">Description</span></p>
            <p><strong>Category:</strong> <span th:text="${product.category}">Category</span></p>
            <p><strong>Item Number:</strong> <span th:text="${product.itemNumber}">Item Number</span></p>
            <p><strong>Price:</strong> <span th:text="${product.price}">Price</span> SEK</p>
        </li>
    </ul>
</div>
</body>
</html>
