<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Våra böcker</title>

    <!-- URL för ikoner -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="container">
    <header class="mb-4">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h2 class="mb-0">
                    <a href="/"><img th:src="@{/img/logga.png}" alt="Bokbubblan" id="custom-logo"></a>
                </h2>
            </div>

            <div class="col">
                <div class="input-group">
                    <input type="search" class="form-control custom-search" placeholder="Sök" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>

            <div class="col-auto d-flex align-items-center">
                <a href="/cart" class="me-2">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-cart4 custom-icon-size"></i>
                    </button>
                </a>

                <a href="/login">
                    <button type="button" class="btn btn-outline-secondary">
                        <i class="bi bi-person-circle custom-icon-size"></i>
                    </button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Alla Böcker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/signerade_forstautgavor}">Signerade förstautgåvor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sallsynta_fantasyserier}">Sällsynta fantasyserier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/interaktiva_barnbocker}">Interaktiva barnböcker</a>
                    </li>
                </ul>
            </div>
        </div>

    </header>
</div>

<div class="container">
    <h1>Produktkatalog</h1>

    <!-- Filter- och sorteringsknappar -->
    <div class="row mt-3">
        <div class="col-auto">
            <button id="filterByPriceAsc" class="btn btn-outline-secondary me-2">Lägst-högst pris</button>
        </div>
        <div class="col-auto">
            <button id="filterByPriceDesc" class="btn btn-outline-secondary">Högst-lägst pris</button>
        </div>
    </div>

    <!-- Visa alla produkter -->
    <div id="productList" class="row mt-3">
        <!-- Produkterna visas här dynamiskt -->
    </div>
</div>

<footer class="text-center py-4 mt-4">
    <!-- Footer innehåll -->
</footer>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Funktion för att hämta och visa produkter baserat på sorteringsordning
    function fetchAndDisplayProducts(order) {
        $.get("/sortByPrice", {order: order}, function(products) {
            var productListHtml = "";
            products.forEach(function(product) {
                productListHtml += "<div class='col-md-3 mb-3'>";
                productListHtml += "<div class='card'>";
                productListHtml += "<img src='/img/bokbild.png' class='card-img-top' alt='" + product.title + "'>";
                productListHtml += "<div class='card-body'>";
                productListHtml += "<h5 class='card-title'>" + product.title + "</h5>";
                productListHtml += "<p class='card-text'><strong>Författare:</strong> " + product.author + "</p>";
                productListHtml += "<p class='card-text'><strong>Beskrivning:</strong> " + product.description + "</p>";
                productListHtml += "<p class='card-text'><strong>Utgivningsår:</strong> " + product.year + "</p>";
                productListHtml += "<p class='card-text'><strong>Genre:</strong> " + product.category + "</p>";
                productListHtml += "<p class='card-text'><strong>Varunummer:</strong> " + product.itemNumber + "</p>";
                productListHtml += "<p class='card-text'><strong>Pris:</strong> " + product.price + " kr</p>";
                productListHtml += "<form action='/cart/add/" + product.id + "' method='post'>";
                productListHtml += "<button type='submit' class='btn btn-outline-secondary'>Köp</button>";
                productListHtml += "</form>";
                productListHtml += "<a href='/product_card/" + product.id + "' class='btn btn-outline-secondary btn-sm mt-2' role='button'>Läs mer</a>";
                productListHtml += "</div></div></div>";
            });
            $("#productList").html(productListHtml);
            $("#productCount").text(products.length);
        });
    }

    // Klickhändelse för "Lägst-högst pris" knappen
    $("#filterByPriceAsc").click(function() {
        fetchAndDisplayProducts("asc");
    });

    // Klickhändelse för "Högst-lägst pris" knappen
    $("#filterByPriceDesc").click(function() {
        fetchAndDisplayProducts("desc");
    });

    // Ladda produkter vid sidans start
    $(document).ready(function() {
        fetchAndDisplayProducts("asc"); // Visa produkter sorterade i stigande ordning som standard
    });
</script>

</body>
</html>
